.contact-content {
  height: 100vh;
  margin: 30px auto;
  padding: 9px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.contact-content::after {
  content: '';
  background-image: url('../img/11.svg');
  position: absolute;
  top: 0;
  width: 100%;
  height: inherit;
  opacity: 0.15;
  border-radius: 12px;
  background-size: cover;
  z-index: -1;
}

h2 {
  text-align: center;
}

.form-box input,
input.form-input,
.form-box textarea {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 3px white;
}
